<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMVC-02-helloMVC:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springMVC_02_helloMVC_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springMVC-02-helloMVC/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springMVC-02-helloMVC" />
        </element>
      </element>
    </root>
  </artifact>
</component>